<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<description>Spring公共配置 </description>

	<context:component-scan base-package="com.wbx.video_upload">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

	<import resource="spring/spring-*.xml" />

	<beans profile="production">
		<context:property-placeholder location="classpath:prop/production.properties" />
	</beans>
	<beans profile="demo">
		<context:property-placeholder location="classpath:prop/demo.properties" />
	</beans>
	<beans profile="local">
		<context:property-placeholder location="classpath:prop/local.properties" />
	</beans>
</beans>
